
$background-color: #292c2d;

$nav-links-color: #ecf0f1;

$spinner-background-color: #222427;
$spinner-color: #ecf0f1;

$input-line-height: 70px;

$max-width-xs: 90%;
$max-width-sm: 540px;
$max-width-md: 720px;
$max-width-lg: 960px;
$max-width-xl: 1140px;